.table-wrapper {
    width: 100%;
    height: auto;
    border: 1px solid lightgrey;
    border-radius: 2px;
}

.table-head {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid lightgrey;
}

.table-head__name {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px 5px;
    font-weight: 700;
    width: 16%;
} 

.table-head__name:not(:last-child) {
    border-right: 1px solid lightgrey;
}

.table-content {
    width: 100%;
}
