.modal-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.795);
    z-index: 1000;
}

.modal-form {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: auto;
    background-color: rgb(228, 228, 228);
    border-radius: 4px;
    box-shadow: 0 0 5px lightgrey;
}

.form-input {
    box-sizing: border-box;
    padding: 0 5px;
    margin: 10px auto;
    height: 30px;
    width: 80%;
    outline: none;
}

.form-input:nth-child(1) {
    margin-top: 40px;
}

.close-btn {
    position: absolute;
    top: 21%;
    right: 26%;
    width: 20px;
    height: 20px;
    z-index: 1001;
}

