.table-wrapper {
    width: 100%;
    height: auto;
    margin-top: 40px;
}

.table-content {
   border: 1px solid lightgrey;
}

.table-head {
    display: flex;
    justify-content: space-around;
    border: 1px solid lightgrey;
    border-bottom: none;
    width: 100%
}

.table-head__name {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px 5px;
    font-weight: 700;
    width: 16%;
} 

.table-head__name:not(:last-child) {
    border-right: 1px solid lightgrey;
}

.table-content {
    width: 100%;
}

.button {
    display: block;
    margin: 40px auto;
    width: 100px;
    height: 40px;
    background-color: rgb(126, 212, 198);
    border: none;
    border-radius: 4px;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    box-shadow: 2px 2px lightgray;
    outline: none;
    transition: all .3s;
}

.button:hover {
    cursor: pointer;
    background-color: rgb(121, 201, 187);
    box-shadow: 3px 3px rgb(196, 195, 195);
    outline: none;
    transition: all .3s;
}

.button:active {
    outline: none;
    box-shadow: none;
    transition: all .3s;
}

